
<header>
    <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">
            <img src="images/cleverstack-angular.png" alt="cleverstack" />
            <h1>CleverStack.io</h1>
        </div>
    </div>
</header>

<div id="home">
    <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">
            <p class="lead" id="welcome-msg">Hello there! Welcome to your new AngularJS app.</p>
            <ul class="server-list">
                <li>
                    <span class="title">App Development:</span> <a class="btn btn-default" target="_blank" ng-href="http://localhost:9000">Server</a>
                </li>
                <li>
                    <span class="title">App Unit Testing:</span> <a class="btn btn-default" target="_blank" ng-href="http://localhost:9090">Server</a> <a class="btn btn-default" target="_blank" ng-href="http://localhost:5555">Code Coverage</a> <a class="btn btn-default" target="_blank" ng-href="http://localhost:9000/bower_components/sass-bootstrap/js/tests/">Bootstrap 3</a>
                </li>
<!--                 <li>
                    <span class="title">App E2E Testing:</span> <a class="btn btn-default" target="_blank" ng-href="http://localhost:4444/wd/hub/">Server</a>
                </li> -->
                <li>
                    <span class="title">App API Docs:</span> <a class="btn btn-default" target="_blank" ng-href="http://localhost:9999">Server</a>
                </li>
                <li>
                    <span class="title">App UI Styles:</span> <a class="btn btn-default" target="_blank" ng-href="http://localhost:9000/ui.html">Bootstrap 3</a>
                </li>
                <li>
                    <span class="title">App Production:</span> <a class="btn btn-default" target="_blank" ng-href="http://localhost:9009">Preview Server</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<footer>
    <div class="row text-center">
        <p>Cleverstack.io 2014</p>
    </div>
</footer>